*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Cabeçalho do site */
.header{
    position: fixed;
    background: linear-gradient(90deg, rgb(0, 0, 56) 0%, rgb(222, 165, 87) 100%);
    width: 100%;
    display: flex;
    z-index: 10;
}

.content{
    align-content: center;
    margin-left: auto;
    margin-right: 50px;
}

.content a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
}

.content a:hover{
    color: rgb(156, 148, 245);
}

.logo{
    display: flex;
    margin-left: 30px;
}

.logo t{
    color: white;
    font-size: 42px;
    margin-left: 15px;
    align-content: center;
}

.logo img{
    max-width: 100px;
    min-width: 100px;
}

/* Página */
.page{
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: #eee2d2;
    z-index: 0;
    display: flex;
    justify-content: center;
}

/* Carrossel*/
.carouselContainer{
    position: absolute;
}

.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    font-size: 28px;
}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}

@media screen and (max-width: 650px){
    .header{
        width: 100%;
    }

    .content{
        height: 100%;
        width: 100%;
    }

    .logo{
        height: 100%;
        width: 100%;
    }
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}